
/iele/original/node/*-kompiled/
/iele/original/node/kompile/kompile
/iele/original/node/main/main
/iele/original/node/main/trace_*/

/iele/original/standalone/*-kompiled/
/iele/original/standalone/kompile/kompile
/iele/original/standalone/main/main
/iele/original/standalone/main/trace_*/


/iele/elrond/node/*-kompiled/
/iele/elrond/node/kompile/kompile
/iele/elrond/node/main/main
/iele/elrond/node/main/trace_*/

/iele/elrond/standalone/*-kompiled/
/iele/elrond/standalone/kompile/kompile
/iele/elrond/standalone/main/main
/iele/elrond/standalone/main/trace_*/
